@{
    ViewBag.Title = "Web Api Demo";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Facebook With Original OAuth Request", "Index", "Facebook")</p>
<p>@Html.ActionLink("Facebook With DotNetOpenAuth", "Index", "FacebookOpenAuth")</p>
<p>@Html.ActionLink("Facebook With SDK", "Index", "FacebookSdk")</p>